<div class="card bg-light">
    <div class="card-body mx-md-auto">
        <form class="mx-md-auto" >
            <h4 class="form-text card-title mt-md-3 mb-md-4 text-md-center">Edit a Group Type</h4>

            <div class="form-group">
                <label for="level">Level:</label>
                <input class="form-control" name="level" value="{{grouptype.level}}">
            </div>
            
            <div class="form-group">
                <label for="label">Label:</label>
                <input class="form-control" name="label" value="{{grouptype.name}}">
            </div>
        
            <button (click)="updateGroupType($event)" class="btn btn-outline-primary">Update</button>
        </form>
    </div>
</div>