<form class="form-group">
    <!-- <div *ngClass = "grouptype: GroupType"> -->
        <h3 class="form-text header">Edit a Group Type</h3>

        <div class="field">
            <label for="level">Level:</label>
            <input name="level" value="{{grouptype.level}}" [(ngModel)]="currentGroupType.level">
        </div>
        
        <div class="field">
            <label for="label">Label:</label>
            <input name="label" value="{{grouptype.name}}" [(ngModel)]="currentGroupType.name">
        </div>
    <!-- </div> -->
    
    <button (click)="updateGroupType($event)" class="btn btn-outline-primary">Update</button>
</form>