<h1 id="tableLabel">Group Type List</h1>
<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>ussdCode</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grouptype of grouptype">
      <td>{{ grouptype.name }}</td>
      <td>{{ grouptype.ussdCode }}</td>
      <td>{{ grouptype.status }}</td>
      <td><button (click)="editGroupType($event)" class="btn btn-outline-secondary">Edit</button></td>
    </tr>
  </tbody>
</table>
