

<div class="row">
  <div class="col-lg-12">
    <div class="well">
      <div class="form-group">
        <label for="name">Name</label>
        <select name="" id="name" class="form-control" [(ngModel)]="filter.id" (change)="onFilterChange()" >
        <option value=""></option>
        <option *ngFor="let grouptype of grouptype.groupTypes" value="{{grouptype.id}}">{{grouptype.name}} </option>
      </select>
      <!-- </div>
      <button class="btn btn-primary" (click)="resetFilter()" >Reset</button>
    </div> -->
    <br>
    
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>Role Types
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped" aria-labelledby="tableLabel">
          <thead>
            <tr>
              <th>Name</th>
              <th>Level</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grouptype of grouptype.groupTypes">
              <td>{{ grouptype.name }}</td>
              <td>{{ grouptype.level }}</td>
              <td><button class="btn btn-outline-primary" routerLink="/home/groups/edit" >Edit</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

