<div class="container-fluid">
    <ul class="nav nav-tabs" id="userprofiletab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="summaries-tab" data-toggle="tab" routerLink="/home/user/detail" role="tab" aria-controls="summaries">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="edituserdata-tab" data-toggle="tab" routerLink="/home/user/permissions" role="tab" aria-controls="edituserdata">Edit User Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="editpermissions-tab" data-toggle="tab" routerLink="/home/user/permissions" role="tab" aria-controls="editpermissions">Change Permissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="editbankdata-tab" data-toggle="tab" [routerLink]="['./']" role="tab" aria-controls="editbankdata">Edit Bank Data</a>
      </li>
    </ul>
</div>

<div class="tab-pane fade show my-md-4" id="editbankdata" role="tabpanel" aria-labelledby="editbankdata-tab">
    <app-edit-user-bank-account></app-edit-user-bank-account>
</div>
