<div class="container">
    <form>
        <div class="col-md-8 mr-md-auto ml-md-auto">
            <div class="form-row form-group">
                <label for="po" class="col-form-label col-form-label-sm">Purchase Order</label>
                <select class="form-control form-control-sm form-inline" name="selectPO" [(ngModel)]="currPo" (change)="poCheck()">
                    <option selected class="text-muted disabled">Select Purchase Order</option>
                    <option *ngFor="let item of purchaseOrders" [ngValue]="item" >{{item.purchaseOrderNumber}}</option>
                </select>
            </div>
            <div class="col-sm-auto" *ngIf="isTriggered != false">
              <app-purchase-order [purchaseOrder]="currPo"></app-purchase-order>
                <!-- <table class="table table-bordered table-striped small" >
                    <thead>
                      <tr>
                        <th>Purchase Order Number</th>
                        <th>Purchase Order Items</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{currPo.purchaseOrderNumber}} </td>
                        <td>
                          
                          <table class="table  table-bordered  table-sm">
                            <th>Denomination</th>
                            <th>Quantity</th>
                            <tbody>
                              <tr *ngFor="let purchaseItem of currPo.items; index as i">
                                <td>{{purchaseItem.denomination}}</td>
                                <td>{{purchaseItem.quantity}} </td>
                              </tr>
                            </tbody>
                            <tbody></tbody>
                          </table>
                        </td>
                        <td>{{currPo.date }}</td>
                      </tr>
                    </tbody>
                  </table> -->

            </div>
        </div>
        <div class="mt-md-4">
            <fieldset class="form-group row">
                <label class="lead col-sm-1-12">Export Voucher</label>
                <div class="btn-sm small">
                    <app-file-upload (fileToUploadedEvent)="fileToUploaded($event)"></app-file-upload>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="">
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="uploadFile()" value="Upload">Export</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- <app-file-upload (fileToUploadedEvent)="fileToUploaded($event)"></app-file-upload> -->

<!-- <input type="button" (click)="uploadFile()"  value="Upload"/> -->

<app-message #messages></app-message>