<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Users Detail
        </div>
        <div class="card-body">
        <div class="row">
            <dt class="col-sm-2">Name:</dt>
            <dd class="col-sm-10">{{user.firstName}}</dd>
            <dt class="col-sm-2">Email:</dt>
            <dd class="col-sm-10">{{user.email}} </dd>
        </div>
         
      

        </div>
      </div>
    </div>
  </div>
