<div class="container-fluid">
<div class="tab-pane fade show my-md-4 ml-md-4" id="summary" role="tabpanel" aria-labelledby="summaries-tab">
    <h5 class="header">
    </h5>
        <dt class="col-sm-3 small font-weight-bold">Email:</dt>
    <dd class="col-sm-10 small font-italic">{{user.email}}</dd>
</div>

<ul class="nav nav-tabs" id="userprofiletab" role="tablist">
    <!-- <li class="nav-item">
        <a class="nav-link" id="summaries-tab" data-toggle="tab" [routerLink]="['./']" role="tab" aria-controls="summaries">Summary</a>
    </li> -->
    <li class="nav-item">
        <a class="nav-link" id="userbankaccount-tab" data-toggle="tab" [routerLink]="['bankAccountList']" role="tab" aria-controls="userbankaccount">List Bank Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="edituserdata-tab" data-toggle="tab" [routerLink]="['edit']" role="tab" aria-controls="edituserdata">Edit User Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="editpermissions-tab" data-toggle="tab" [routerLink]="['permissions']"  role="tab" aria-controls="editpermissions">Change Permissions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="addbankdata-tab" data-toggle="tab" [routerLink]="['bankdata']" role="tab" aria-controls="addbankdata">Add User Bank Account</a>
    </li>

</ul>



<router-outlet></router-outlet>


</div>


    