<div class="card bg-light col-6 mr-auto ml-auto">
    <div class="card-body">
        <form class="">
            <h4 class="form-text card-title mt-md-3 mb-md-3">Add an Operator</h4>
        
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" name="name" type="text" aria-required="true">
            </div>
        
            <div class="form-group">
                <label for="ussd">USSD Recharge Code:</label>
                <input class="form-control" name="ussd" type="text" aria-required="true">
            </div>
        
            <button (click)='saveOperator()' class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
