<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Configured Banks
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped" aria-labelledby="tableLabel">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bank of response.banks">
                <th>{{bank.id}} </th>
                <td>{{bank.name }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
