<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Retailer Plans
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped" aria-labelledby="tableLabel">
            <thead>
              <tr>
                <th>Name</th>               
                <th>Commission Rates</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let retailerPlan of response.retailerPlans">
                <td>{{ retailerPlan.name }}</td>
                <td>
                  <table class="table  table-bordered  table-sm">
                    <th>Amount</th>
                    <th>Rate</th>
                    <tbody>
                      <tr *ngFor="let commission of retailerPlan.commissionRates" >
                        <td>{{commission.amount}} </td>
                        <td>{{commission.rate}} </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>{{retailerPlan.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
