<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>Operators
      </div>
      <div class="card-body">
        <table
          class="table table-bordered table-striped"
          aria-labelledby="tableLabel"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>USSD Recharge Code</th>
              <!-- <th>Last Updated Date</th> -->
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let op of response.operators">
              <td>{{ op.name }}</td>
              <td>{{ op.uSSDRechargeCode }}</td>
              <!-- <td>{{ op.lastUpdatedDate }}</td> -->
              <td>
                <button
                  class="btn btn-outline-primary"
                  routerLink="/home/operators/edit"
                  (click)="editOperator(op)"
                >
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
