<div>
     <table  *ngIf="grouptypes.length > 0">
         <tr *ngFor="let item of grouptypes">
            <td>{{item.level}}</td>
            <td>{{item.name}}</td>
            <td>
                <button (click)="deleteGroupType(item)" class="btn btn-danger">delete</button> 
            </td>
         </tr>
         <tr>
             <button (click) = "saveGroupType(grouptypes)" class="btn btn-primary">Submit</button>
         </tr>
     </table>   
     <div *ngIf="grouptypes.length <= 0">
         Add some data
     </div>
</div>

<form class="form-group">
    <h3 class="form-text header">Add a Group Type</h3>

    <div class="field">
        <label for="level">Level:</label>
        <input name="level" [(ngModel)]="currentGroupType.level">
    </div>
    
    <div class="field">
        <label for="label">Label:</label>
        <input name="label" [(ngModel)]="currentGroupType.name">
    </div>
    
    <button (click)="addGroupType($event)" class="btn btn-outline-primary">Add</button>
</form>