<!--A validation table to confirm and submit to store-->


<!--Registry form to add group types-->


<div class="row">
    <div class="col-sm-5">
        <div class="card bg-light mr-auto ml-auto">
            <div class="card-body mx-md-auto">
                <form class="mx-md-auto">
                    <h4 class="form-text card-title mt-md-3 mb-md-4 text-md-center">Add Group Types</h4>
                
                    <div class="form-group">
                        <label for="level">Level:</label>
                        <input class="form-control" name="level" [(ngModel)]="currentGroupType.level" type="number" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="label">Label:</label>
                        <input class="form-control" name="label" [(ngModel)]="currentGroupType.name" type="text" required>
                    </div>
                    
                    <button (click)="addGroupType($event)" class="btn btn-outline-secondary">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card bg-transparent  mr-auto ml-auto mb-md-5" *ngIf="grouptypes.length > 0">
    <div class="card-header">Confirmation Table</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Level</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of grouptypes" [ngClass]="{'removed': item.objectStatus===30}">
                    <td>{{item.level}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button (click)="deleteGroupType(item)" class="btn btn-danger">
                            <span *ngIf="item.objectStatus===0 || item.objectStatus === 10">
                                delete
                            </span>
                            <span *ngIf="item.objectStatus===30">
                                undo
                            </span>                       
                         </button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer float-md-right">
        <button (click) = "saveGroupTypes(grouptypes)" class="btn btn-primary float-md-right mr-md-4">Submit</button>
    </div>
      
    <div *ngIf="grouptypes.length <= 0">
        <!-- Add some data -->
    </div>
</div>
    </div>
</div>
<app-message #messages></app-message>