<div class="card col-md-4 mr-md-auto ml-md-auto">
    <div class="row">
        <p class="col-md-3 ml-md-0 float-md-right">Op Logo</p>
        <div class="col-md-6"></div>
        <p class="col-md-3 mr-md-0 float-md-left">TAK Logo</p>
    </div>
    <div class="card-title text-md-center"><u>50 BIRR Airtime</u></div>
    <div class="card-header text-md-center">
        <div class="card-title s font-weight-lighter font-italic">e-Voucher Pin:</div>
        <div class="card-subtitle lead font-weight-bold"><u>0000-000-000-0000</u></div>
    </div>
    <div class="card-body text-md-center">
        <div class="col-form-label-sm card-text col-md-auto">Serial Number: 1234567890</div>
        <div class="col-form-label-sm card-text col-md-auto">Exp-date: 2023-09-30</div>
        <div class="col-form-label-sm card-text col-md-auto">To recharge: op ussd</div>
        <div class="col-form-label-sm card-text col-md-auto">Transaction Date: 2020-07-06</div>
        <div class="col-form-label-sm card-text col-md-auto">Agent: Agent Name</div>
    </div>
    <div class="card-footer text-md-center small font-weight-bold">TAK Technologies</div>
</div>
