<div class="card bg-light ml-md-0 mr-md-0">
    <div class="card-body">
        <form>
            <h5 class="from-text card-title mt-md-3 mb-md-4 text-md-left ml-md-2">Create User</h5>
            <hr class="border-bottom"/>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-row form-group">
                        <label for="username" class="col-form-label col-form-label-sm">Userame:</label>
                        <input type="text" class="form-control form-control-sm" name="username" id="username" placeholder="Username" [(ngModel)]="nUser.UserName" required>
                    </div>
                    <div class="form-row form-group">
                        <label for="email" class="col-form-label col-form-label-sm">Email:</label>
                        <input type="email" class="form-control form-control-sm" name="email" id="email" placeholder="myemail@example.com" [(ngModel)]="nUser.email" required>
                    </div>
                    <div class="form-row form-group">
                        <label for="phonenumber" class="col-form-label col-form-label-sm">Phone Number:</label>
                        <input type="number" class="form-control form-control-sm" name="phonenumber" id="phonenumber" placeholder="User's Phone Number" [(ngModel)]="nUser.phoneNumber" required>
                    </div>
                    <div class="form-row form-group">
                        <label for="firstname" class="col-form-label col-form-label-sm">First Name:</label>
                        <input type="text" class="form-control form-control-sm" name="firstname" id="firstname" placeholder="First Name" [(ngModel)]="nUser.firstName" required>
                    </div>
                    <div class="form-row form-group">
                        <label for="middlename" class="col-form-label col-form-label-sm">Middle Name:</label>
                        <input type="text" class="form-control form-control-sm" name="middlename" id="middlename" placeholder="Middle Name" [(ngModel)]="nUser.middleName">
                    </div>
                    <div class="form-row form-group">
                        <label for="lastname" class="col-form-label col-form-label-sm">Last Name:</label>
                        <input type="text" class="form-control form-control-sm" name="lastname" id="lastname" placeholder="Last Name" [(ngModel)]="nUser.lastName" required>
                    </div>
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="form-row form-group">
                        <label for="grouptype" class="col-form-label col-form-label-sm">Group Type:</label>
                        <select class="form-control form-control-sm" name="grouptype" 
                        id="grouptype" [(ngModel)]="selectedGt"  required>
                            <!-- <option selected class="text-muted disabled">Select the users group type</option> -->
                            <option *ngFor="let item of gtList.groupTypes" [ngValue]="item">{{item.name}}</option>
                        </select>
                        <div class="card bg-transparent mt-md-3">
                            <div class="card-body">
                                <p class="card-text card-title">Grouptype Attributes</p>
                                <p class="small">Level: <b>{{selectedGt.level}}</b></p>
                                <p class="small">Type Name: <b>{{selectedGt.name}}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label for="retailerplan" class="col-form-label col-form-label-sm">Retailer Plan:</label>
                        <select class="form-control form-control-sm" name="retailerplan" id="retailerplan" [(ngModel)]="selectedRp" required>
                            <option selected class="text-muted disabled">Select the users retailer plan</option>
                            <option *ngFor="let item of rpList.retailerPlans" [ngValue]="item">{{item.name}}</option>
                        </select>
                        <div class="card bg-transparent mt-md-3">
                            <div class="card-body">
                                <p class="card-text card-title">Retailer Plan Attributes</p>
                                <p class="small">Plan Name: <b>{{selectedRp.name}}</b></p>
                                <p class="small">Plan Code: <b>{{selectedRp.code}}</b></p>
                                <p class="small">Commission Type: <b>{{selectedRp.commisionRateType}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-md-right">
                <button class="btn btn-primary btn-sm" (click)="createUser($event)">Create</button>
            </div>
        </form>
    </div>
</div>
<app-message #messages></app-message>