.example-container {
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    display: flex !important;
    position: relative !important;
    /* height: 100%; */
    padding: 10px;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }

.tittle-name {margin-left: 2rem;}

.toolbar-row {font-size: small;}

.toolbar-left {margin-right: 3rem;}

.user-icon { size: 20; margin-right: 7px;}



 .sidnav-icon-right { margin-right: 2rem !important; }

 .submenu-icon { margin-right: 1rem; size: 20 !important;}

 .submenu-list {font-size: small;}

.sidenav-open{ width: 55px !important; }

.sidenav-close{ width: 240px !important; }

.menu-button {margin-left: 2rem !important;  transition: 600ms ease-in-out; }

.menu-button.initial { transform: rotate(0deg); }

.menu-button.rotated { transform: rotate(180deg); }

.submenu { transition: transform 300ms ease; transform: scaleY(0); transform-origin: top; padding-left: 30px; }

.submenu.expanded { transform: scaleY(1); }