
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Purchase Orders
        </div>
        <div class="card-body">

          <app-purchase-order  *ngFor="let purchase of response.purchaseOrders" [purchaseOrder]="purchase"></app-purchase-order>
          
          <!-- <table class="table table-bordered table-striped" >
            <thead>
              <tr>
                <th>Purchase Order Number</th>
                <th>Purchase Order Items</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let purchase of response.purchaseOrders">
                <td>{{purchase.purchaseOrderNumber}} </td>
                <td>
                  
                  <table class="table  table-bordered  table-sm">
                    <th>Denomination</th>
                    <th>Quantity</th>
                    <tbody>
                      <tr *ngFor="let purchaseItem of purchase.items; index as i">
                        <td>{{purchaseItem.denomination}}</td>
                        <td>{{purchaseItem.quantity}} </td>
                      </tr>
                    </tbody>
                    <tbody></tbody>
                  </table>
                </td>
                <td>{{purchase.date }}</td>
              </tr>
            </tbody>
          </table> -->
         

        </div>
      </div>
    </div>
  </div>
  
  
